aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
base58==2.1.1
beautifulsoup4==4.9.3
bitarray==2.8.1
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
configparser==6.0.0
crayons==0.4.0
cytoolz==0.12.2
Django==4.2.5
django-cors-headers==4.2.0
django-multiselectfield==0.1.12
djangorestframework==3.14.0
eth-abi==2.2.0
eth-account==0.5.9
eth-hash==0.5.2
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-typing==2.3.0
eth-utils==1.9.5
frozenlist==1.4.0
hexbytes==0.3.1
idna==3.4
ipfshttpclient==0.8.0a2
jsonschema==3.2.0
keyboard==0.13.5
lru-dict==1.2.0
lxml==4.9.3
MouseInfo==0.1.3
multiaddr==0.0.9
multidict==6.0.4
mysqlclient==2.2.0
netaddr==0.8.0
numpy==1.26.0
pandas==2.1.0
parsimonious==0.8.1
Pillow==8.0.0
protobuf==3.20.3
PyAutoGUI==0.9.54
pycryptodome==3.18.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyMySQL==1.1.0
pyperclip==1.8.2
PyRect==0.2.0
pyrsistent==0.19.3
PyScreeze==0.1.28
python-dateutil==2.8.2
python3-xlib==0.15
pytweening==1.0.7
pytz==2023.3.post1
pywhatkit==5.1
requests==2.31.0
rlp==2.0.1
selenium==3.141.0
simpleui==4.0.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
toolz==0.12.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.2
varint==1.0.2
web3==5.23.1
webdriver-manager==3.4.2
websockets==9.1
wikipedia==1.4.0
yarl==1.9.2
